/* MadCap Table Style: */

/*<meta Version="7" fileTags="Translation Status.Support files" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #00dddb;
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: TableStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	cell-padding-left: 4px;
	cell-padding-right: 20px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	max-id: 4;
	background-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #b3b3b3;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	color: #ffffff;
	background-color: #00678a;
	text-align: left;
	name: Header1;
	id: 2;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	id: 4;
	name: Header2;
	background-color: #00dddb;
	text-align: left;
	color: #000000;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #b3b3b3;
	vertical-align: top;
	text-align: left;
	name: Body1;
	id: 1;
	color: #000000;
	background-color: #ffffff;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-TableStyle
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-TableStyle .HeadI-Column1-Header2
	{
		background-color: #00dddb;
	}

	.TableStyle-TableStyle .HeadE-Column1-Header2
	{
		background-color: #00dddb;
	}

	.TableStyle-TableStyle .HeadF-Column1-Header2
	{
		background-color: #00dddb;
	}

	.TableStyle-TableStyle .HeadH-Column1-Header2
	{
		background-color: #00dddb;
	}

	.TableStyle-TableStyle .HeadD-Column1-Header2
	{
		background-color: #00dddb;
	}

	.TableStyle-TableStyle .HeadC-Column1-Header2
	{
		background-color: #00dddb;
	}

	.TableStyle-TableStyle .HeadB-Column1-Header2
	{
		background-color: #00dddb;
	}

	.TableStyle-TableStyle .HeadA-Column1-Header2
	{
		background-color: #00dddb;
	}

	.TableStyle-TableStyle .HeadG-Column1-Header2
	{
		background-color: #00dddb;
	}
}

.TableStyle-TableStyle
{
	border-collapse: collapse;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-TableStyle .Column-Column1
{
	
}

.TableStyle-TableStyle .Head-Header1
{
	
}

.TableStyle-TableStyle .HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
	background-color: #00678a;
}

.TableStyle-TableStyle .HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableStyle .Head-Header2
{
	
}

.TableStyle-TableStyle .HeadI-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadI-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .HeadE-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadE-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .HeadF-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadF-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .HeadH-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadH-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .HeadD-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadD-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .HeadC-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadC-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .HeadB-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadB-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .HeadA-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadA-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .HeadG-Column1-Header2
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	background-color: #00dddb;
}

.TableStyle-TableStyle .HeadG-Column1-Header2 p
{
	color: #000000;
}

.TableStyle-TableStyle .FootI-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableStyle .FootI-Column1- p
{
	
}

.TableStyle-TableStyle .FootE-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
}

.TableStyle-TableStyle .FootE-Column1- p
{
	
}

.TableStyle-TableStyle .FootF-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableStyle .FootF-Column1- p
{
	
}

.TableStyle-TableStyle .FootH-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
}

.TableStyle-TableStyle .FootH-Column1- p
{
	
}

.TableStyle-TableStyle .FootD-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableStyle .FootD-Column1- p
{
	
}

.TableStyle-TableStyle .FootC-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableStyle .FootC-Column1- p
{
	
}

.TableStyle-TableStyle .FootB-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
}

.TableStyle-TableStyle .FootB-Column1- p
{
	
}

.TableStyle-TableStyle .FootA-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableStyle .FootA-Column1- p
{
	
}

.TableStyle-TableStyle .FootG-Column1-
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableStyle .FootG-Column1- p
{
	
}

.TableStyle-TableStyle .Body-Body1
{
	
}

.TableStyle-TableStyle .BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableStyle .BodyI-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableStyle .BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #b3b3b3;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
}

.TableStyle-TableStyle .BodyE-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableStyle .BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #b3b3b3;
	border-bottom-style: solid;
}

.TableStyle-TableStyle .BodyF-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableStyle .BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
}

.TableStyle-TableStyle .BodyH-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableStyle .BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #b3b3b3;
	border-bottom-style: solid;
}

.TableStyle-TableStyle .BodyD-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableStyle .BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableStyle .BodyC-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableStyle .BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
}

.TableStyle-TableStyle .BodyB-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableStyle .BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableStyle .BodyA-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-TableStyle .BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-TableStyle .BodyG-Column1-Body1 p
{
	color: #000000;
}


