/*<meta fileTags="Translation Status.Support files" />*/

/* Use for product name on the title page; heading not in TOC */

/* Use for the former product name on the title page; heading not in TOC */

/* Use for the book title on title page; heading not in TOC */

h1
{
	font-family: Verdana, Tahoma, Arial;
	font-variant: normal;
	font-weight: bold;
	text-decoration: none;
	margin-left: 0px;
	background-repeat: no-repeat;
	display: block;
	background-position: left;
	border-bottom: inset 1px #a4bf7d;
	margin-bottom: -1.1em;
	margin: 0;
	font-size: large;
	text-indent: 0px;
	color: #fe5000;
	padding-top: 12px;
	padding-bottom: 5px;
	border-bottom-style: inset;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	background-image: none;
}

p
{
	color: #000000;
	font-size: inherit;
	font-family: inherit;
	margin-top: 6pt;
	margin-bottom: 0;
}

p.title-product1
{
	text-align: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 36pt;
	line-height: 37pt;
	mc-hyphenate: never;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #fe5000;
}

p.title-product2
{
	text-align: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 28pt;
	line-height: 26pt;
	mc-hyphenate: never;
	margin-top: .25in;
	margin-bottom: 0pt;
	color: #fe5000;
}

p.title-document
{
	text-align: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 24pt;
	line-height: 26pt;
	color: rgb(77, 79, 83);
	mc-hyphenate: never;
	margin-top: .25in;
	margin-bottom: 0pt;
}

p.title_image
{
	line-height: .65in;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	color: #000000;
	font-size: inherit;
	font-family: inherit;
	margin-top: 6pt;
	list-style-type: inherit;
}

h2
{
	font-family: inherit;
	padding-bottom: 4.0pt;
	text-transform: none;
	border-bottom-style: Inset;
	border-bottom-width: 2px;
	border-bottom-color: #EEEEEE;
	color: inherit;
	font-size: medium;
	border-bottom: none 0;
}

li.BulletFormat
{
	font-family: inherit;
	list-style-type: disc;
	color: inherit;
	margin-left: inherit;
	font-size: inherit;
	margin-top: inherit;
	margin-bottom: iherit;
	list-style-position: outside;
}

li.Bullets
{
	font-family: inherit;
	list-style-type: disc;
	color: #000000;
	margin-left: 0.0pt;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
	list-style-position: outside;
}

li.BulletCheckbox
{
	font-family: inherit;
	list-style-type: square;
	color: #000000;
	margin-left: 0.0pt;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
	list-style-position: outside;
	list-style-image: url('../Images/checkbox.bmp');
}

li.BulletCheckbox2
{
	font-family: inherit;
	font-weight: normal;
	list-style-type: square;
	list-style-position: outside;
	margin-left: 16pt;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
	list-style-image: url('../Images/checkbox.bmp');
}

.Tabletop
{
	font-family: inherit;
	font-style: normal;
	margin-left: 3.0pt;
	margin-right: 3.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	font-size: inherit;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	text-decoration: none;
	color: #ffffff;
	background-color: #00678a;
}

.Table
{
	font-family: inherit;
	margin-left: 3.0pt;
	margin-right: 3.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	font-size: inherit;
	padding: 0pt;
	padding-bottom: 2pt;
	overflow: visible;
	white-space: normal;
	vertical-align: top;
	color: #000000;
	border-bottom-color: #000000;
	border-width: 1px;
}

.Table2
{
	font-family: inherit;
	margin-right: 3.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	font-size: inherit;
	color: #000000;
	padding: 0pt;
	overflow: visible;
	white-space: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 6px;
	padding-bottom: 2pt;
}

.TableBold
{
	font-family: inherit;
	margin-right: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	font-size: inherit;
	color: inherit;
	padding: inherit;
	overflow: visible;
	white-space: normal;
	vertical-align: inherit;
	background-color: inherit;
	border-bottom-width: inherit;
	padding-bottom: inherit;
	font-style: inherit;
	font: inherit;
	font-weight: bold;
}

p.subheading
{
	font-family: inherit;
	font-weight: bold;
	color: #000000;
	font-size: inherit;
	text-transform: uppercase;
	margin-top: 16px;
	margin-bottom: 3pt;
}

body
{
	list-style-image: none;
	font-size: small;
	font-family: Verdana, Tahoma, Arial;
}

p.RelatedTopics
{
	font-family: inherit;
	font-weight: bold;
	text-align: left;
	color: #000000;
	font-size: inherit;
	font-variant: normal;
	text-transform: capitalize;
	margin-top: 15pt;
}

p.Infinitive
{
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0pt;
	font-size: inherit;
	font-variant: normal;
	text-decoration: none;
	margin-top: 10pt;
}

p.Tip-Note-Heading
{
	font-family: inherit;
	font-weight: bold;
	font-size: inherit;
	background-image: none;
	text-transform: uppercase;
	color: #000000;
	margin-left: auto;
}

p.Topic-Text-Indent
{
	font-family: inherit;
	margin-left: 30.0pt;
	font-size: inherit;
	margin-bottom: 3pt;
	margin-top: 0pt;
}

li.Topic-Text-Numbered
{
	font-family: inherit;
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 0.0pt;
	margin-bottom: 0.0pt;
	margin-top: 6pt;
	font-size: inherit;
}

li.Topic-Text-Lettered
{
	font-family: inherit;
	text-align: left;
	list-style-type: lower-alpha;
	margin-top: 6pt;
	font-size: inherit;
	margin-bottom: 0pt;
	padding-right: 0pt;
	margin-left: 16pt;
	list-style-position: outside;
}

li.Topic-Text-Bulleted-2
{
	font-family: inherit;
	font-weight: normal;
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 16pt;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

p.Tip-Note-Text
{
	font-family: inherit;
	background-image: none;
	margin-top: 6.0pt;
	margin-bottom: 6.0pt;
	font-size: inherit;
}

h3
{
	font-family: inherit;
	padding-bottom: 4.0pt;
	text-transform: none;
	border-bottom-style: Inset;
	border-bottom-width: 2px;
	text-decoration: none;
	color: inherit;
	font-size: small;
	border-bottom: none 0 1.0pt;
}

li.mc-H3
{
	font-family: inherit;
	font-size: inherit;
	text-transform: none;
	text-decoration: none;
	color: inherit;
}

p.Topic-Text-Indent2
{
	font-family: inherit;
	font-size: inherit;
	margin-left: 46pt;
	margin-top: 0pt;
	margin-bottom: 3pt;
}

a.expandspot
{
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #0000ff;
}

span.Emphasize-expanded
{
	color: #000000;
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	mc-disabled: false;
}

a.glossterm
{
	font-family: inherit;
	font-size: inherit;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
	color: #0000ff;
}

span.glosstext
{
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	color: #000000;
	mc-disabled: false;
}

span.Emphasize
{
	color: #008080;
	font-style: italic;
	font-family: inherit;
	font-size: inherit;
	mc-disabled: false;
}

span.Definition
{
	color: #000000;
	font-size: inherit;
	font-style: normal;
	font-family: inherit;
	mc-disabled: false;
}

span.expandtext
{
	font-weight: normal;
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	color: #000000;
	text-decoration: none;
}

span.SLXBold
{
	font-weight: bold;
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
}

span.toggler
{
	color: #0000ff;
}

MadCap|expandingHead.expandspot
{
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-weight: normal;
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	color: #000000;
	text-decoration: none;
}

MadCap|glossaryTerm.glossterm
{
	font-size: inherit;
	font-style: italic;
	font-weight: normal;
	color: #008080;
	text-decoration: none;
	mc-disabled: false;
}

MadCap|expandingBody.glossterm
{
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	color: #000000;
}

MadCap|dropDownHotspot
{
	font-color: #008b8b;
	font-size: inherit;
	mc-open-image: none;
	mc-closed-image: none;
	color: #0000ff;
}

MadCap|dropDownHead
{
	mc-closed-image: none;
	mc-open-image: none;
	margin-top: 3pt;
	color: #0000ff;
}

MadCap|toggler
{
	text-decoration: none;
	margin-top: 3pt;
	mc-image-position: right;
	color: #0000ff;
	mc-closed-image: url('../../image/DropDownClosed.gif');
	mc-open-image: url('../../image/DropDownOpen.gif');
}

MadCap|expanding
{
	color: #0000ff;
	mc-closed-image: url('../../image/ExpandClosed.gif');
	mc-open-image: url('../../image/ExpandOpen.gif');
}

MadCap|expandingBody
{
	color: #000000;
}

MadCap|expandingHead
{
	color: #0000ff;
}

MadCap|dropDown
{
	mc-image-position: right;
	color: #0000ff;
	mc-closed-image: url('../../image/DropDownClosed.gif');
	mc-open-image: url('../../image/DropDownOpen.gif');
}

abbr
{
	mc-disabled: true;
}

acronym
{
	mc-disabled: true;
}

address
{
	mc-disabled: true;
}

b
{
	mc-disabled: true;
}

big
{
	mc-disabled: true;
}

button
{
	mc-disabled: true;
}

caption
{
	mc-disabled: true;
}

center
{
	mc-disabled: true;
}

cite
{
	mc-disabled: true;
}

col
{
	mc-disabled: false;
}

colgroup
{
	mc-disabled: false;
}

del
{
	mc-disabled: false;
}

dir
{
	mc-disabled: true;
}

em
{
	mc-disabled: false;
}

fieldset
{
	mc-disabled: true;
}

form
{
	mc-disabled: true;
}

frame
{
	mc-disabled: false;
}

frameset
{
	mc-disabled: false;
}

img
{
	mc-disabled: false;
}

input
{
	mc-disabled: true;
}

ins
{
	mc-disabled: true;
}

kbd
{
	mc-disabled: true;
}

MadCap|annotation
{
	mc-disabled: false;
}

MadCap|bodyProxy
{
	mc-disabled: false;
}

MadCap|breadcrumbsProxy
{
	mc-disabled: false;
}

MadCap|concept
{
	mc-disabled: false;
}

MadCap|conceptLink
{
	mc-disabled: false;
}

MadCap|conceptsProxy
{
	mc-disabled: false;
}

MadCap|endnoteBlock
{
	mc-disabled: false;
}

MadCap|endnotesBlock
{
	mc-disabled: false;
}

MadCap|endnotesProxy
{
	mc-disabled: false;
}

MadCap|footnote
{
	mc-disabled: false;
}

MadCap|footnoteBlock
{
	mc-disabled: false;
}

MadCap|footnotesBlock
{
	mc-disabled: false;
}

MadCap|glossaryProxy
{
	mc-disabled: false;
}

MadCap|glossaryTerm
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Expanding
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Hyperlink
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Popup
{
	mc-disabled: false;
}

MadCap|pageFooter
{
	mc-disabled: false;
}

MadCap|pageFooter.EvenPage
{
	mc-disabled: false;
}

MadCap|pageFooter.FirstPage
{
	mc-disabled: false;
}

MadCap|pageFooter.OddPage
{
	mc-disabled: false;
}

MadCap|pageHeader
{
	mc-disabled: false;
}

MadCap|pageHeader.EvenPage
{
	mc-disabled: false;
}

MadCap|pageHeader.FirstPage
{
	mc-disabled: false;
}

MadCap|pageHeader.OddPage
{
	mc-disabled: false;
}

MadCap|relatedTopics
{
	mc-disabled: false;
}

MadCap|section
{
	mc-disabled: false;
}

MadCap|shortcut
{
	mc-disabled: false;
}

MadCap|xref
{
	mc-disabled: false;
	mc-format: '{u}{color blue}widget{/color}{/u}';
}

MadCap|xref.ConceptPageNumber
{
	mc-disabled: false;
}

MadCap|xref.IndexPageNumber
{
	mc-disabled: false;
}

MadCap|xref.ListOfPageNumber
{
	mc-disabled: false;
}

MadCap|xref.TOCPageNumber
{
	mc-disabled: false;
}

madcapEditorBehavior
{
	mc-disabled: false;
}

map
{
	mc-disabled: false;
}

menu
{
	mc-disabled: false;
}

p.Concept
{
	mc-disabled: true;
}

p.ConceptContext
{
	mc-disabled: true;
}

p.MiniTOC1
{
	mc-disabled: false;
}

p.MiniTOC2
{
	mc-disabled: false;
}

p.MiniTOC3
{
	mc-disabled: false;
}

p.MiniTOC4
{
	mc-disabled: false;
}

p.MiniTOC5
{
	mc-disabled: false;
}

p.MiniTOC6
{
	mc-disabled: false;
}

p.MiniTOC7
{
	mc-disabled: false;
}

p.MiniTOC8
{
	mc-disabled: false;
}

p.MiniTOC9
{
	mc-disabled: false;
}

p.TOC1
{
	mc-disabled: false;
}

p.TOC2
{
	mc-disabled: false;
}

p.TOC3
{
	mc-disabled: false;
}

p.TOC4
{
	mc-disabled: false;
}

p.TOC5
{
	mc-disabled: false;
}

p.TOC6
{
	mc-disabled: false;
}

p.TOC7
{
	mc-disabled: false;
}

p.TOC8
{
	mc-disabled: false;
}

p.TOC9
{
	mc-disabled: false;
}

pre
{
	mc-disabled: false;
}

s
{
	mc-disabled: false;
}

samp
{
	mc-disabled: false;
}

select
{
	mc-disabled: false;
}

small
{
	mc-disabled: true;
}

strong
{
	mc-disabled: true;
}

span.SeeAlsoIndex
{
	mc-disabled: false;
}

span.SeeAlsoIndexTerms
{
	mc-disabled: false;
}

span.SeeIndex
{
	mc-disabled: false;
}

span.SeeIndexTerms
{
	mc-disabled: false;
}

p.HowDoI
{
	margin-left: 0pt;
	margin-top: 3pt;
}

li.Bullet3
{
	font-family: inherit;
	font-weight: normal;
	list-style-type: disc;
	list-style-position: outside;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-left: 32pt;
}

ol
{
	margin-top: 0em;
	margin-bottom: 0em;
}

ul
{
	margin-top: 0em;
	margin-bottom: 0em;
	list-style-type: disc;
}

ul ul
{
	list-style-type: disc;
}

ul ul ul
{
	list-style-type: disc;
}

ol ul
{
	list-style-type: disc;
}

ol ul ul
{
	list-style-type: disc;
}

ul ol ul
{
	list-style-type: disc;
}

ol ol ul
{
	list-style-type: disc;
}

li.Lettered3
{
	font-weight: normal;
	list-style-type: lower-alpha;
	list-style-position: outside;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-left: 32pt;
}

p.TopicTextIndent3
{
	margin-left: 62pt;
	margin-top: 0pt;
	margin-bottom: 3pt;
}

a.dropspot
{
	color: #0000ff;
}

P.code-snippet
{
	font-family: "Courier New", monospace;
	margin-left: 18pt;
	font-size: inherit;
}

span.CODE
{
	font-family: "Courier New", monospace;
	font-size: inherit;
}

p.BookTitle
{
	
}

p.ChapterContents
{
	color: #4f6e2c;
}

p.PageBreakAfter
{
	page-break-after: always;
	color: #8b0000;
	font-size: 4px;
}

p.FrontMatterTitle
{
	font-weight: bold;
}

p.ChapterAppendixName
{
	font-size: medium;
	text-align: right;
	border-bottom: double 4px;
}

p.ChapterTitle
{
	color: #696969;
	font-size: medium;
	text-align: right;
	font-weight: bold;
}

p.AppendixTitle
{
	color: #696969;
	font-size: medium;
	font-weight: bold;
	text-align: right;
	mc-auto-number-format: 'Appendix {A}';
}

MadCap|xref.H1andpage
{
	mc-format: '{quote}{h1}{quote} on page {page}';
}

MadCap|xref.H1
{
	mc-format: '{quote}{h1}{quote}';
}

MadCap|xref.AppChapNumAndName
{
	font-family: Verdana;
	font-size: inherit;
	text-decoration: none;
	mc-format: '{quote}{paratext}{quote} on page {page}';
}

MadCap|xref.H2
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{quote}{h2}{quote}';
}

MadCap|xref.H2andpage
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{quote}{h2}{quote} on page {page}';
}

MadCap|xref.H3
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{quote}{h3}{quote}';
}

MadCap|xref.H3andpage
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{quote}{h3}{quote} on page {page}';
}

MadCap|xref.JustPage
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{page}';
}

MadCap|xref.StepNumber
{
	text-decoration: none;
	font-size: inherit;
	color: #000000;
	mc-format: '{paranumonly}';
}

p.Note
{
	
}

p.NoteIndent
{
	
}

p.NoteIndent1
{
	
}

MadCap|xref.BookmarkinDoc
{
	mc-format: '{quote}{paratext}{quote} on page {page}';
	MadCap|xref: ;
	text-decoration: none;
	mc-format: '{quote}{h1}{quote}';
}

html.PopupNoFooter
{
	mc-master-page: url('../MasterPages/NoFooter.flmsp');
}

@media print
{
	p.BookTitle
	{
		text-indent: 0px;
		font-size: 18pt;
		margin-left: 0in;
		orphans: 0;
		widows: 0;
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	MadCap|miniTocProxy.GSWeb
	{
		
	}

	h1
	{
		background-repeat: no-repeat;
		display: block;
		background-position: none;
		border-bottom: none;
		mc-heading-level: 2;
		padding-left: 0px;
		border-bottom-style: none;
		border-bottom-width: 0;
		border-bottom-color: #a4bf7d;
		font-family: inherit;
		margin-right: 0;
		margin-left: 0in;
		page-break-after: avoid;
		text-indent: 0in;
		page-break-before: auto;
		padding-bottom: 0pt;
		padding-top: 0pt;
		margin-top: 23pt;
		margin-bottom: 5pt;
		mc-short-line-method: inherit;
		left: 0px;
		font-size: 16pt;
		color: #000000;
		background-image: none;
	}

	h2
	{
		color: #000000;
		mc-heading-level: 3;
		text-align: left;
		margin-left: 0in;
		margin: 0;
		margin-top: 21pt;
		margin-bottom: 6pt;
		font-size: 12pt;
		text-indent: 0.0in;
		padding-bottom: 0pt;
	}

	MadCap|dropDownHotspot
	{
		color: #000000;
	}

	MadCap|toggler
	{
		color: #000000;
	}

	h3
	{
		font-weight: bold;
		mc-heading-level: 4;
		font-size: 10pt;
		margin: 0;
		margin-bottom: 4pt;
		padding-bottom: 0pt;
		margin-top: 14pt;
	}

	body
	{
		text-indent: 0in;
		mc-hyphenate: never;
		font-size: 9pt;
		font-family: Arial;
		color: #334a4a;
	}

	a:link
	{
		color: #000000;
		text-decoration: none;
	}

	a:visited
	{
		color: #000000;
	}

	a:hover
	{
		color: #000000;
	}

	a:focus
	{
		color: #000000;
	}

	a:active
	{
		color: #000000;
	}

	p.ChapterTitle
	{
		mc-auto-number-format: 'Chapter {chapnum}';
		margin-left: 0in;
	}

	li
	{
		margin-top: 6pt;
		list-style-type: inherit;
		margin-left: 0in;
		page-break-inside: avoid;
		column-break-inside: avoid;
		widows: 2;
		orphans: 2;
	}

	.TableBold
	{
		vertical-align: inherit;
	}

	p.IndexHeading
	{
		mc-index-headings: true;
		text-transform: uppercase;
		text-align: left;
		font-size: 13pt;
		margin-top: 2pt;
		margin-bottom: 0pt;
	}

	p.Index2
	{
		text-indent: 0.25pt;
		mc-leader-offset: auto;
		mc-leader-align: left;
		margin-top: 1pt;
	}

	p.Index3
	{
		text-indent: 0.5pt;
		mc-leader-offset: auto;
		mc-leader-align: left;
		margin-top: 1pt;
	}

	td.FMText
	{
		font-family: inherit;
		font-size: 8pt;
	}

	MadCap|indexProxy
	{
		text-align: left;
		border: none;
		border-top-width: 0px;
		border-top: double;
	}

	MadCap|xref
	{
		mc-format: '{color black}See{/color} {quote}{paratext}{quote} {pageref}';
	}

	p.Infinitive
	{
		orphans: 0;
		page-break-after: avoid;
		widows: 0;
		page-break-before: avoid;
	}

	MadCap|xref.H1andpage
	{
		mc-format: '{color black} See {/color} {color blue}{quote}{h1}{quote} {pageref}{/color}';
	}

	MadCap|xref.H2andpage
	{
		mc-format: '{color black} See{/color} {color blue}{quote}{h2}{quote} {pageref}{/color}';
	}

	MadCap|xref.H3andpage
	{
		mc-format: '{color black} See{/color} {color blue}{quote}{h3}{quote} {pageref}{/color}';
	}

	p.ChapterNumber
	{
		mc-heading-level: 1;
		font-size: 20pt;
		orphans: 0;
		widows: 0;
		page-break-after: avoid;
		font-weight: bold;
		border-bottom: none;
		text-align: left;
		color: #fe5000;
		margin-left: 0in;
		mc-auto-number-class: span;
		mc-auto-number-format: 'Chapter {chapnum} | ';
	}

	p.Appendix
	{
		font-size: 20pt;
		border-bottom-width: 4px;
		mc-heading-level: 1;
		margin-left: 0in;
		page-break-after: avoid;
		orphans: 0;
		widows: 0;
		color: #fe5000;
		text-align: left;
		border-bottom-style: none;
		mc-auto-number-format: '{color gray}Appendix {A} {/color} ';
		border-bottom: double;
	}

	p.ChapterNoNumber
	{
		border-bottom-width: 4px;
		mc-heading-level: 1;
		orphans: 0;
		widows: 0;
		page-break-after: avoid;
		font-weight: bold;
		color: #fe5000;
		font-size: 24pt;
		text-align: left;
		border-bottom: none;
		margin-left: 0in;
	}

	p.NoTOC
	{
		border-bottom-width: 4px;
		mc-heading-level: 0;
		font-size: 20pt;
		margin-left: 0in;
		orphans: 0;
		widows: 0;
		page-break-after: avoid;
		font-weight: bold;
		color: #fe5000;
		text-align: left;
	}

	p.Figure
	{
		margin-left: 30pt;
		padding-right: 1em;
		margin-right: 10px;
		page-break-before: avoid;
		mc-auto-number-format: '{b}Figure {Gn+}  {/b}';
		orphans: 0;
		widows: 0;
	}

	h4
	{
		mc-heading-level: 0;
	}

	h5
	{
		mc-heading-level: 0;
	}

	h6
	{
		font-size: large;
		text-align: right;
		border-bottom: double;
		border-bottom-width: 4px;
		mc-heading-level: 1;
	}

	p.TOC1
	{
		font-weight: bold;
		font-size: 12pt;
		text-indent: 0in;
		margin-left: 0in;
		page-break-after: avoid;
		color: #fe5000;
	}

	p.TOC2
	{
		font-weight: bold;
		font-size: 9pt;
		margin-left: 1in;
	}

	p.TOC4
	{
		text-indent: 15px;
		font-size: 9pt;
		margin-left: 1.10in;
	}

	p.MiniTOC2
	{
		font-weight: bold;
	}

	MadCap|tocProxy
	{
		border-top: none;
	}

	p.Index1
	{
		mc-leader-offset: auto;
		mc-leader-align: left;
		margin-top: 1pt;
	}

	span.VersionDate
	{
		color: #a9a9a9;
	}

	p.title-document
	{
		font-size: inherit;
		line-height: inherit;
		margin-top: 3pt;
		font-family: Foco;
	}

	p.ChapterAppendixName
	{
		font-size: 20pt;
		margin-left: 0in;
		orphans: 0;
		widows: 0;
		page-break-after: avoid;
		font-weight: bold;
	}

	p.FrontMatterTitle
	{
		font-size: 18pt;
		margin-left: 0in;
		color: #fe5000;
		line-height: 22pt;
	}

	p
	{
		margin-left: 0in;
		orphans: 3;
		widows: 3;
	}

	p.AppendixTitle
	{
		margin-left: 0in;
		orphans: 0;
		widows: 0;
		page-break-after: avoid;
	}

	p.ChapterContents
	{
		margin-left: 0in;
		orphans: 0;
		widows: 0;
		page-break-after: avoid;
	}

	p.ChapterHeadLeft
	{
		margin-left: 0in;
	}

	p.Tip-Note-Text
	{
		margin-left: 0in;
	}

	h2.pagebreak
	{
		page-break-before: always;
		font-size: 14pt;
		text-indent: 0in;
		margin-left: 0in;
	}

	img
	{
		page-break-before: avoid;
	}

	html.PopupNoFooter
	{
		mc-master-page: url('../MasterPages/NoFooter.flmsp');
	}

	p.BetaRelease
	{
		text-align: center;
		font-size: 36pt;
		font-family: Arial;
		color: #dcdcdc;
	}

	span.strike
	{
		text-decoration: line-through;
	}

	h1.Print
	{
		font-family: inherit;
		background-image: none;
		color: #000000;
		font-size: 16pt;
		border-bottom-style: none;
		text-indent: 0in;
		padding-left: 0px;
	}

	h2.Print
	{
		text-indent: 0in;
		font-size: 14pt;
		margin-left: 0in;
	}

	p.Note
	{
		page-break-inside: avoid;
		page-break-before: avoid;
	}

	td
	{
		orphans: 2;
		widows: 2;
		page-break-after: auto;
		page-break-before: auto;
		page-break-inside: avoid;
	}

	p.TOC3
	{
		font-size: 9pt;
		margin-left: 1in;
	}

	ol ul
	{
		page-break-inside: avoid;
	}

	p.title-product1
	{
		font-family: Arial;
	}

	p.title-product2
	{
		font-family: Foco;
	}

	ol
	{
		orphans: 2;
		widows: 2;
	}

	ul
	{
		orphans: 2;
		widows: 2;
	}

	table
	{
		orphans: 2;
		widows: 2;
	}

	tr
	{
		orphans: 2;
		widows: 2;
		page-break-inside: avoid;
	}

	h3.pagebreak
	{
		page-break-before: always;
		font-size: 12pt;
	}

	span.Gray
	{
		color: #808080;
	}

	p.header
	{
		color: #fe5000;
		font-size: 14pt;
	}

	MadCap|xref.IndexPageNumber
	{
		color: #0000ff;
	}

	h1.pagebreak
	{
		page-break-before: always;
		background-image: none;
		color: #000000;
		font-size: 16pt;
		text-indent: 0in;
		padding-left: 0px;
	}

	p.PageBreakAfter
	{
		orphans: 0;
		widows: 0;
		font-size: 12pt;
	}

	li.BulletCheckbox
	{
		list-style-image: url('../Images/checkbox.bmp');
	}

	li.BulletCheckbox2
	{
		list-style-image: url('../Images/checkbox.bmp');
	}

	.Tablesubhead
	{
		background-color: #00dddb;
	}

	thead.thead2
	{
		
	}

	th.sub
	{
		text-align: left;
	}

	span.ChapterAutoNumber
	{
		color: #fe5000;
	}

	tr.SubHead
	{
		background-color: #00dddb;
	}
}

@media non-print
{
	span.strike
	{
		text-decoration: line-through;
	}
}

span.strike
{
	text-decoration: line-through;
}

a.Popup
{
	mc-popup-width: 4in;
}

ol ol
{
	list-style-type: lower-alpha;
}

ul ol
{
	list-style-type: lower-alpha;
}

h1.pagebreak
{
	padding-left: 45px;
	padding-top: 12px;
	padding-bottom: 5px;
	border-bottom-style: inset;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

h1.Print
{
	padding-left: 45px;
	padding-top: 12px;
	padding-bottom: 5px;
	border-bottom-style: inset;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

thead
{
	color: #ffffff;
	background-color: #00678a;
	font-weight: bold;
	font-style: normal;
}

table
{
	color: #000000;
	background-color: #ffffff;
}

tbody
{
	background-color: #ffffff;
}

th
{
	color: #ffffff;
	background-color: #00678a;
}

tr
{
	background-color: #ffffff;
}

span.strike
{
	text-decoration: line-through;
}

.Tablesubhead
{
	background-color: #00dddb;
}

thead.thead2
{
	background-color: #00dddb;
}

p.tbsubhead
{
	background-color: #00dddb;
}

th.sub
{
	background-color: #00dddb;
	text-align: left;
	color: #000000;
}

span.strike
{
	text-decoration: line-through;
}

tr.SubHead
{
	background-color: #00dddb;
}

a:link
{
	font-family: inherit;
	font-weight: normal;
	font-size: inherit;
	color: #0000ff;
	text-decoration: underline;
	padding: 0px;
}

a:visited
{
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: inherit;
	color: #9400d3;
	text-decoration: underline;
}

a:focus
{
	color: #0000ff;
}

a:hover
{
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: inherit;
	text-decoration: none;
	color: #0000ff;
}

a:active
{
	font-weight: normal;
	font-size: inherit;
	text-decoration: none;
	color: #0000ff;
	font-family: inherit;
}

a.dropspot:link
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

a.dropspot:visited
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

a.dropspot:hover
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

a.dropspot:active
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

